bin
gen

*/bin
*/gen
*/obj
*/.settings
*/build.xml
*/local.properties
*/kit-libs
*/assets/debug*
aDebug
aDev
**/signing.properties
*/achannel
aDev3
aDevT*

.gradle
/local.properties
**.iml
/.idea
.DS_Store
/build
/captures
*/build
tmp

*/hs_err_pid*


.buckconfig
.buckd
buck-out
keystore
*/.buckd
*/buck-out
tools/repo
okbuck-scripts
*/BUCK
.okbuck
